html {
  height: 100%;
}

body {
  background-image: url("images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 250px;
  height: 250px;
  border: 5px solid black;
  border-radius: 50%;  
  position: relative;
  padding: 2rem;
  box-shadow: inset 0px 0px 4px 1px yellow;
  /* 1st value is horizontal offset, 2nd value is vertical offset, 3rd value is optional blur effect, 4th value defines the spread of the shadow */
}

.clock-face {
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand {
  width: 50%;
  height: 5px;
  background-color: black;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
}

.transition {
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0, 3.22, 0.58, 1);
}